{% extends 'base_blog.html' %}

{% block title %}
  posts
{% endblock%}

{% block content %}
<!--Pagination-->
<nav aria-label="navigation" class="navigation">
  <ul class="pagination">
      {% if posts_10_on_page.has_previous %}
        <li class="page-item"><a class="page-link" href="?page={{ posts_10_on_page.previous_page_number }}">Previous</a></li>
      {% else %}
        <li class="page-item disabled"><span class="page-link">Previous</span></li>
      {% endif %}
      {% for page in posts_10_on_page.paginator %}
        {% if page.number == posts_10_on_page.number%}
          <li class="page-item active">
            <a class="page-link" href="?page={{page.number}}">{{page.number}}<span class="sr-only">{{posts_10_on_page.number}}</span></a>
          </li>
        {% else %}
        <li class="page-item"><a class="page-link" href="?page={{page.number}}">{{page.number}}</a></li>
        {% endif %}
      {% endfor %}
      {% if posts_10_on_page.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{ posts_10_on_page.next_page_number }}">Next</a></li>
      {% else %}
      <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
  </ul>
</nav>
<!--Post list-->
<div class="container">
<div class="row">
  <div class="col">
     {% for post in posts_10_on_page %}
      {% include 'includes/post_card_template.html' %}
     {% endfor %}
  </div>
<!--    Tag list-->
  <div class="col">
    <div class="col" style="">
      <div class="tag_card" style="width: 18rem;">
        <ul class="list-group list-group-flush">
          <p class="text-muted">Tags</p>
          {% for tag in tags %}
            <li class="list-group-item">
              <p class="text-muted">
              <a href="{{ tag.get_absolute_url }}" class="text-reset">{{tag}} ({{tag.posts_count}})</a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}