<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post_detail</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        .comments {
            margin-left:2%;
            margin-bottom:2%;
        }
    </style>
</head>
<body>
<div class="card" style="width: 100%;">
    <div class="card-body">
        <a class="btn btn-primary" href="{% url 'posts' %}" role="button">back</a>
        <br>
        <br>
        <br>
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.text}}</p>
    </div>
    <div class="comments">
        <hr>
        <p>Comments</p>
        <hr>
        {% for comment in comments%}
         <div class="comment">
           <p class="info">
             Comment {{ forloop.counter }} by {{ comment.author }}
             {{ comment.created }}
           </p>
           {{ comment.text|linebreaks }}
         </div>
        {% endfor %}
        {% if new_comment %}
            <h2>Your comment has been added.</h2>
        {% else %}
            <h2>Add a new comment</h2>
            <form action="." method="post">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Add comment"></p>
            </form>
        {% endif %}
    </div>
</div>
</body>
</html>